#logo {
  width: 150px;
  height: 34.7px;
  object-fit: contain;
  margin-top: 32px;
}
body {
  background-color: orange;
}
.general {
  width: 414px;
  background-color: white;
  padding: 0px 32px;
  margin: auto;
}

h3 {
  width: 164px;
  height: 28px;
  color: #172333;
  line-height: 1.21;
  font-size: 24px;
  font-family: helvetica;
  margin-right: 218px;
  margin-bottom: 32px;
}
.tasker {
  width: 111px;
  height: 48px;
  border-radius: 24px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #ff4d00;
  color: #ffffff;
  margin-left: 0.5px;
  margin-right: 24px;
  margin-bottom: 40px;
  padding: 15px 25px 15px 24px;
}
.worker {
  width: 166px;
  height: 48px;
  border-radius: 24px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  color: #6b737d;
  padding: 15px 24px 15px 24px;
}
.continue {
  width: 350px;
  height: 48px;
  border-radius: 4px;
  color: #ffffff;
  background-color: #5fad56;
  padding: 16px 128px 15px 129px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.21;
  margin-top: 148.5px;
  margin-bottom: 40px;
}
#fnumber {
  font-size: 11px;
  line-height: 1.27;
}
.registarion-data {
  margin-left: 32px;
  color: #172333;
}
input[type="text"] {
  display: block;
  box-sizing: border-box;
  width: 350px;
  height: 25px;
  border: none;
  outline: none;
  border-bottom: 1px solid #dadada;
  line-height: 1.13;
  color: #172333;
  padding-bottom: 16px;
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 1.25;
}
input[type="text"]::placeholder {
  font-size: 16px;
  color: red;
}
.name {
  padding-bottom: 16px;
}
a {
  display: flex;
  margin-top: 34.3px;
  margin-left: 14.5px;
  margin-bottom: 35px;
  font-size: 16px;
  font-family: Helvetica;
  line-height: 1.25;
  color: #172333;
  width: 104px;
  height: 20px;
}

.circle {
  margin-top: -11px;
  margin-right: 14.5px;
}
.arrow {
  position: relative;
  left: 20px;
  bottom: 40px;
  padding-left: 14.5px 16.5px 13.5px 17.5px;
}
